[Unit]
Description=PiFace Digital Web API
After=network.target

[Service]
User=pi
ExecStart=pifacedigital-web-api
Restart=always

[Install]
WantedBy=multi-user.target
